{% include "base/base.html" %}
 

{% block content %}
    {% if request.user.is_authenticated %}
    <h1>
        welcome back {{request.user.username}}
        
    </h1>
    <a href="{% url "logOut" %}">logout</a>
    {% else %}

    <h2>welcome back</h2>
    <a href="{% url 'sign-up'%}">Register</a>
    <a href="">Login</a>
   
    {% endif %}
    {% if messages %}
     <h4>{{messages}}</h4> 
    {% endif %}

    <h3>the project vedio is pused at 41:18 min out of 59:49</h3>
    {% endblock content %}