.imgSign{    
    background-image:  url("/static/imgs/signUpImage.jpg"); 
    background-size: cover;
    background-position: center;
    height: 60vh;

}

.imgLogin,.imgsign{    
    background-image: url("/static/imgs/signUpImage.jpg"); 
    background-size: cover;
    background-position: center;
  

}
.formSign,.formLogin{
 
    box-shadow: 1px 0px 14px 1px rgb(0,0,0,0.4) ;
    border-radius: 3px;
}
.LoginContent{
    margin-top: 90px;
}

@media (max-width:771px){
    .imgLogin{
        display: none;
    }

}
.register-btn,.login-btn{
    background-color: #8A1DFF;
    color: white;
}

.nav_btn
{
background-color: #8A1DFF;
color: white;
width: 100px;
font-size: 13px;
}
nav
{
    box-shadow: 0px 1px 9px #b7b6b9;
    border-bottom: 0px solid rgb(161, 158, 158);
}
.nav-link
{
    color: black;
}
.nav-link:focus
{
    border: 1px solid white;
    background-color: rgb(252, 203, 211);
    border-radius: 3px;
    color: #8A1DFF !important;
}