{% include "base/base.html" %}
{% block container %}
<section>
    <div class="singUpheader text-center mt-4">
        <h3 class="">Log In</h3>
        <p>Hi there! Create a free account today.</p>
    </div>

    <div class="container">
        <!--   for the form sign-up  -->
        <div class="row  LoginContent">
            <div class="col-12 col-md-6 ">
                <div class="formLogin p-3 bg-light">
                <form action="">
                    
                    <label for="">Email</label>
                    <input class="form-control" type="email" placeholder="Email">

                    <label for="">Password:</label>
                    <input class="form-control" type="password" placeholder="Password">

                    
                    <button class="btn login-btn btn-block mt-3 "><b>Log In</b></button>
                </form>
            </div>
            </div>
            <div class="col-12 col-md-6 imgLogin">
                

              

            </div>
        </div>
    </div>


</section>
{% endblock container %}